@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    @apply text-sm 
}

.fondoImg{
    background-image: url("https://images.unsplash.com/photo-1450778869180-41d0601e046e?q=80&w=1586&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.catFondo{
    background-image: url("https://res.cloudinary.com/dzqdjsrez/image/upload/v1714054915/werzk-luuuuuuu-tDlo2ZPlQlU-unsplash_c2bq1v.jpg");
    background-size: cover;
}
.dogFondo{
    background-image: url("https://res.cloudinary.com/dzqdjsrez/image/upload/v1714055182/markus-winkler-PcKhVNNyEio-unsplash_lpvzhe.jpg") ;
    background-size: cover;
}